---
import Track from "../components/Track.astro";
import "../styles/globals.css";
import type { TrackResponse } from "./tracks";

const URL = import.meta.env.URL;

const tracksResponse = await fetch(`${import.meta.env.URL}/tracks`);

console.log(tracksResponse)
const tracks = await tracksResponse.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nexxel • spotify</title>
	</head>

	<body class="items-center mx-4 md:flex md:flex-col md:mx-auto md:w-4/5 lg:w-2/5">
		<h1 class="text-3xl pb-10 text-center">nexxel • spotify</h1>

		<h2 class="text-2xl pb-4">Top Tracks</h2>
		<div class="flex flex-col gap-2 rounded-sm border-t border-l border-r border-t-neutral-600 border-l-neutral-600 border-r-neutral-600">
			{
				tracks.tracks.map((item: TrackResponse) => (
					<Track
						title={item.title}
						artist={item.artist}
						url={item.url}
						img={item.img}
					/>
				))
			}
		</div>

		<div class="pb-10" />
	</body>
</html>
